[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
watchdog = "*"
pyautogui = "*"
numpy = "*"
igraph = "*"
networkx = "*"
open3d = "*"
matplotlib = "*"
opencv-python = "*"
seaborn = "*"
tqdm = "*"
cython = "*"
scipy = "*"
kaleido = "*"

[dev-packages]
ipykernel = "*"

[scripts]
